<nav class="main-nav">


  <div class="image-container">
    <img src="/assets/images/scania.png" alt="Minha Imagem PNG" width="50" height="50" />
    <a href="#" routerLink="/">NOECOS</a>
  </div>

  <div id="navbarNav">
    <div class="menu-items">


      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <button class="dropbtn">Evolution</button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <a href="follow" routerLink="/follow">Follow</a>
        </div>
      </div>


      <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
        <button class="dropbtn">Data Update</button>
        <div class="dropdown-content" *ngIf="showDropdown">
          <a href="filesupdate" routerLink="/filesupdate">Pf Tool Data</a>
        </div>
      </div>




    </div>



    <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
      <button  class="dropbtn" type="button" (click)="logout()">Logout</button>
    </div>

  </div>

<!-- teste novo branch -->

</nav>
