<body>
  <div>
    <div *ngIf="dataLoaded">
      <table class="table2">
        <thead>

          <th class="corlinha">
            ECOS Follow-up
          </th>
        </thead>
      </table>

      <div>
        <form>
          <button (click)="filtrarItensAll()">All Itens</button>
          <button (click)="filtrarItens()">Over Stock</button>

          <button (click)="mostrarItensFinalizados = !mostrarItensFinalizados">
            {{ mostrarItensFinalizados ? 'Show Opened' : 'Show Finished' }}
          </button>
          <!-- Adicione botões para outros status, se necessário -->

          <label>Qty itens: {{ itensFiltrados.length }}</label>


          <ng-container *ngFor="let status of ['Accepted', 'Denied', 'Analyzing']">
            <label>{{ status }}: {{ getStatusCount(status) }}</label>
          </ng-container>

          <label>Without Analysis: {{ getOtherStatusCount() }}</label>
        </form>
      </div>
      <div>
        <table>
          <tr>
            <td>
              OverStock Cost: {{ calculateTotalCost() | currency: 'BRL' }}
            </td>
            <td>
              Possible Saving: {{ calculateTotalCostAvoid() | currency: 'BRL' }}
            </td>
            <td>
              Real Saving: {{ calculateTotalCostAvoidReal() | currency: 'BRL' }}
            </td>
            <td>
              Current Scrap: {{ calculateTotalCostScrap() | currency: 'BRL' }}
            </td>
          </tr>
        </table>
      </div>



      <div class="table2">
        <table>
          <thead>
            <tr>
              <th class="auto-width">
                Last Update
              </th>
              <th class="auto-width">
                <button (click)="sortBy2('EcoN')">ECO Number</button>
              </th>
              <th class="auto-width">
                Disc Part Number
              </th>
              <th class="auto-width">
                <button (click)="sortBy2('MPCode')">MP Code</button>
              </th>
              <th class="auto-width">
                <button (click)="sortBy2('Packaging')">Sup Type</button>
              </th>
              <th class="auto-width">
                <button (click)="sortBy2('SOP')">SOP</button>
              </th>
              <th class="auto-width">
                <button (click)="sortBy2('SOCOP')">SOCOP</button>
              </th>
              <th class="auto-width">
                <button (click)="sortBy2('SOPDev')">SOP Dev</button>
              </th>

              <th class="auto-width">
                <button (click)="sortBy2('SOCOPDev')">SOCOP Dev</button>
              </th>

              <th class="auto-width">
                Stock
              </th>
              <th class="auto-width">
                Calloff + Pipeline
              </th>
              <th class="auto-width">
                Consumption
              </th>
              <th class="auto-width">
                Line
              </th>
              <th class="auto-width">
                Total Qty
              </th>
              <th class="auto-width">
                Item Cost
              </th>
              <th>
                <button (click)="sortBy2('TotalCost')">Total Cost</button>
              </th>
              <th class="auto-width">
                Comment
              </th>
              <th>
                <button (click)="sortBy2('StatusWork')">Status</button>
              </th>
              <th>
                <button (click)="sortBy3('primeiro')">Trend</button>
              </th>
              <th class="auto-width">
                Inicial Qty
              </th>
              <th class="auto-width">
                Current Qty
              </th>
              <th>Current Saving</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of itensFiltrados; let i = index">

                <tr *ngIf="!mostrarItensFinalizados || item.Finished" [ngClass]="{
                'red-border': item.StatusWork === 'Denied'
            }">
                  <td (click)="Finished(item)">{{ item.UpdateDate | date:'dd/MM/yyyy' }}</td>
                  <td>{{ item.EcoN }}</td>
                  <td>{{item.Peca}}</td>
                  <td>{{item.MPCode}}</td>
                  <td>{{item.Packaging}}</td>
                  <td [ngClass]="{ 'red-bg': isDateBeforeToday(item.convertedDateSOP) }">
                    {{ item.SOP}}
                  </td>
                  <td [ngClass]="{ 'red-bg': isDateBeforeToday(item.convertedDateSOCOP) }">
                    {{ item.SOCOP}}
                  </td>
                  <td [ngClass]="{ 'red-bg': isDateBeforeToday(item.convertedDateSOPDev) }">
                    {{ item.SOPDev}}
                  </td>
                  <td [ngClass]="{ 'red-bg': isDateBeforeToday(item.convertedDateSOCOPDev) }">
                    {{ item.SOCOPDev}}
                  </td>

                  <td>{{ item.Stock !== undefined && item.Stock !== '' ? item.Stock : 0 }}</td>
                  <td>{{ item.Call !== undefined && item.Call !== '' ? item.Call : 0 }}</td>
                  <td>{{ item.DB12 !== undefined && item.DB12 !== '' ? item.DB12 : 0 }}</td>
                  <td>{{ item.Line !== undefined && item.Line !== '' ? item.Line : 0 }}</td>
                  <td>
                    {{
                    (+item.Stock || 0) +
                    (+item.Line || 0) +
                    (+item.Call || 0) -
                    (+item.DB12 || 0)
                    }}
                  </td>
                  <td>R$ {{item.Custo}}</td>
                  <td>
                    {{
                    calculateTotal(item).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
                    }}
                  </td>


                  <td (click)="InsereComent(item, 'Coment')" style="max-width: 200px; overflow: hidden;">
                    <ng-container *ngIf="item.Coment !== '' && item.Coment !== undefined; else icon">
                      {{ item.Coment }}
                    </ng-container>
                    <ng-template #icon>
                      <i-feather name="message-circle"></i-feather>
                    </ng-template>
                  </td>




                  <td (click)="InsereStatus(item, 'StatusWork')" [ngStyle]="{
    'max-width': '200px',
    'overflow': 'hidden',
    'border': (item.StatusWork === 'Accepted') ? '2px solid green' :
              (item.StatusWork === 'Denied') ? '2px solid red' :
              (item.StatusWork === 'Analyzing') ? '2px solid yellow' : 'none'
  }">
                    <ng-container *ngIf="item.StatusWork !== '' && item.StatusWork !== undefined; else icon2">
                      {{ item.StatusWork }}
                    </ng-container>
                    <ng-template #icon2>
                      <i-feather name="meh"></i-feather>
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="item.primeiro !== undefined && item.ultimo !== undefined">
                      <i-feather *ngIf="item.primeiro > item.ultimo && (item.primeiro >= 0 || item.ultimo >= 0)"
                        name="arrow-down" class="arrow-down"></i-feather>
                      <i-feather *ngIf="item.primeiro < item.ultimo && (item.primeiro >= 0 || item.ultimo >= 0)"
                        name="arrow-up" class="arrow-up"></i-feather>
                      <i-feather *ngIf="item.primeiro === item.ultimo && (item.primeiro >= 0 || item.ultimo >= 0)"
                        name="anchor"></i-feather>
                    </ng-container>
                  </td>




                  <td>{{ item.primeiro !== undefined && item.primeiro !== '' ? item.primeiro : 0 }}</td>
                  <td>{{ item.ultimo !== undefined && item.ultimo !== '' ? item.ultimo : 0 }}</td>
                  <td>{{
                    (+item.resultado || 0)| currency: 'BRL'
                    }}</td>



                </tr>

            </ng-container>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</body>
